body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.Main{
    Width:1410px;
    height:1500px;
    padding:20px;
    margin:25px
}
.container {
    display: flex;
    width: 1400px;
    background-color: white;
    border-radius: 8px;
    margin-right: -15px;
    margin-left: -15px;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #fafc9b;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.main-content {
    width:80%;
    flex-grow: 1;
    padding-left: 35px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.product-card h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.product-card p {
    font-size: 16px;
    color: #777;
}
.Text-center{
    text-align: center;
    width:930px;
    height:80px;
}
.pagination{
    width:91px;
    height:18px;
    margin: 24px 0;
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}
.disabled{
    border: 0;
    display: none
}
.pagination .page-item.active .page-link {
    color: #232323;
    display: block;
    background: transparent;
}
.pagination .clearfix .li{
    display:inline;
}
.pagination .page-link{
    float: left;
    margin: 0 5px;
    text-align: center;
    font-size: 13px;
    padding: 0;
    color: #777;
    border: none;
    text-decoration: none;
}